$page-bg: #07142C;
$active-bg: #dedede;
$font-fam: 'Source Sans Pro', sans-serif;
$default-transition: .5s ease-in-out;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  height: 100vh;
  width: 100vw;
  background: $page-bg;
  color: white;
  font-family: $font-fam;
  font-size: 10px;
}

.logo-container{
  margin: 0 auto 2em auto;
  padding: 3.5em 1.5em;
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

.logo{
  width: 8em;
}

.switches{
  background: transparent;
  width: 6em;
  height: 2.5em;
  margin-top: 2.5em;
  border-radius: 50px;
  border: 2px solid white;
  position: relative;
  cursor: pointer;
  transition: $default-transition;
}

.toggle{
  border-radius: 50px;
  width: 2.6em;
  height: 100%;
  background: white;
  position: absolute;
  right: 0;
  transition: .3s ease;
}

.title-container{
  margin: 4em auto;
  text-align: center;
}

.btn{
  font-weight: bold;
  cursor: pointer;
  color: white;
  background: #919191;
  margin-top: 2em;
  padding: .7em 3.5em;
  font-size: 2em;
  border: none;
  outline: 2px solid rgba(0,0,0,0);
  outline-offset: 0px;
  
  &:active{
    transform: scale(.9);
  }
}

.quote-container{
  text-align: center;
}
.display-quote{
  margin: 2em auto 4em 0;
  padding: 0 1.5em;
}

.the-quote, .the-author{
  font-size: 1.7em;
}


// Active functionality
.switches-active{
  border: 2px solid black;
}
.active{
  right: 51%;
  background: black;
}
.bg{
  background: white;
  color: black;
}

@media (min-width: 550px) {
  .title{
    font-size: 3em;
  }
  .btn{
    font-size: 2.3em;
  }
  .the-quote{
    font-size: 2em;
  }
  .the-author{
    font-size: 1.9em;
  }
}
@media (min-width: 800px) {
  .logo{
    width: 10em;
  }
  .title{
    font-size: 4em;
  }
  .btn{
    font-size: 2.5em;
  }
}